<!DOCTYPE html>
<html lang="en">

<head>
    <title>Genkan</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="玄関 Genkan｜Seamless authentication system using NodeJS and MongoDB">
    <meta name="theme-color" content="#ffffff">

    <!-- Manifest -->
    <link rel="manifest" href="/manifest.json">

    <!-- Bulma 0.9.1 -->
    <link rel="stylesheet" href="/vendor/bulma/bulma.min.css">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
          rel="stylesheet">

    <!-- CSS Files-->
    <link rel="stylesheet" href="/vendor/genkan/app.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />

    <!-- JQuery 3.6.0 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
            integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
            crossorigin="anonymous"></script>

    <script src="../../vendor/genkan/fieldChecker.js"></script>

    <!-- Google Recaptcha V3-->
    <!--<script src="https://www.google.com/recaptcha/api.js?render=reCAPTCHA_site_key"></script>-->

</head>

<body>
    <div class="logo-container is-vcentered">
        <div class="container has-text-centered">
            <img class="logo" src="/static/genkan-logo.png">
            {{!-- <h2 class="title is-3 has-text-centered">Genkan 玄関</h2> --}}
        </div>
    </div>
    <section class="section">
        <div class="container box" id="main">
            {{{body}}}
        </div>
    </section>
    <script>
        grecaptcha.ready(function () {
            grecaptcha.execute('SITE_KEY', { action: 'submit' }).then(function (token) {
                document.getElementById("g-recaptcha-response").value = token;
            });
        });
    </script>
</body>

</html>