<div id="emailConfirmation">
    <h2 class="title is-3">Almost done!</h2>
    <p id="loginSuccessText" class="subtitle is-6">Please verify your email</p>
    <div id="tooFastEmail" class="notification is-danger" style="display: none;">
        Resending emails too quickly.
    </div>
    <p>
        We have sent to a verification link to {{ userEmailAddress }}. Please click on it to verify your
        account with your email.<br><br>Afterwards, you may start using your account.
    </p>
    <br>
    <button id="resendEmailButton" class="button is-light">
        <i class="fas fa-paper-plane"></i>&ensp;Resend Email
    </button>
</div>