<div id="register">
    <h4 class="subtitle is-6 has-text-centered has-text-weight-bold">Register a new account</h4>
    {{#ifEquals notifs "ERR_DUP_EMAIL"}}
    <div id="emailDuplicate" class="notification is-danger">
        An account with this Email address already exists.
    </div>
    {{/ifEquals}}
    <form method="POST">
        <div class="field">
            <div class="control has-icons-left has-icons-right">
                <input name="email" class="input" type="email" placeholder="Email" required>
                <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                </span>
            </div>
        </div>
        <div class="field mb-5">
            <div class="control has-icons-left has-icons-right">
                <input name="password" id="newPassword" class="input" type="password" placeholder="Password" onkeyup="ValidatePassword();" required>
                <input type="hidden" id="g-recaptcha-response" name="g-recaptcha-response" />
                <span class="icon is-small is-left">
                    <i class="fas fa-key"></i>
                </span>
                <p class="help" id="passwordMessage" style="visibility:hidden;"></p>
                <div class="showPasswordContainer">
                    <small class="has-text-grey unselectable" id="showPassword" style="cursor: pointer;">
                        <i id="icon-showPassword" class="fas fa-eye-slash"></i>&ensp;<span id="showPasswordText">
                            Hold
                            to
                            show
                            password
                        </span>
                    </small>
                </div>
            </div>
        </div>

        <div class="buttons has-addons level-right">
            <button id="registerButton" class="button is-primary is-fullwidth">
                Continue&ensp;<i class="fas fa-arrow-right"></i>
            </button>
        </div>
    </form>
    <hr>
    <div class="has-text-centered">
        <span>
            <a class="has-text-primary" data-pjax='main' href="./login">
                <i class="fas fa-key"></i>&ensp;Sign in
                instead
            </a>
        </span>
    </div>
</div>

<script src="/vendor/genkan/auth.js"></script>